<!DOCTYPE html>
<html>
    <head>
        <title>Tweetogram</title>
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">

                    <div class="nav-collapse collapse span12 offset2">
                        <a class="brand" href="/">Tweetogram</a>
                        <ul class="nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                        <ul class="nav pull-right">
                          <% if (session && session.auth && session.auth.twitter) {%>
                          <li> Welcome, <%=session.auth.twitter.user.screen_name%> <img src="<%=session.auth.twitter.user.profile_image_url%>" style="width: 40px; height: 45px"/>
                          <li><a href='/logout'>Sign out</a></li>
                          <%} else {%>
                          <li><a href='/auth/twitter' style='border: 0px'><img style='border: 0px'  src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png'/></a>
                            <%}%>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="hero-unit">
                <h1>Tweetogram</h1>
                <p>Lorem ipsum</p>

                <p>
                    <a class="btn btn-primary btn-large">
                        Learn more
                    </a>
                </p>
            </div>
            <br><hr>
            <footer class="pull-right">
                Copyright &copy; Roman Bolgov, Ievgen Sobolev 2012 &nbsp;
                <a href="#about">About</a>&nbsp; |&nbsp;<a href="#contact">Contact Us</a>
            </footer>
        </div>

    </body>
</html>
