extends layout

block content

  div.container
    div.row
      div.span6.offset3
        h1 Hello World
    br
    hr
    footer.pull-right Copyright &copy; Roman Bolgov, Ievgen Sobolev #{+new Date().getFullYear()}
      a(href='#about') About
      | |
      a(href='#contact') Contact Us