<!DOCTYPE html>
<html>
    <head>
        <title>Tweetogram</title>
        <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="../public/js/bootstrap/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Tweetogram</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                        <ul class="nav pull-right">
                            <li><a href="/login">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="hero-unit">
                <h1>Tweetogram</h1>
                <p>Lorem ipsum</p>
                <p>
                    <a class="btn btn-primary btn-large">
                        Learn more
                    </a>
                </p>
            </div>
            <br><hr>
            <footer class="pull-right">
                Copyright &copy; Roman Bolgov, Ievgen Sobolev 2012 &nbsp;
                <a href="#about">About</a>&nbsp; |&nbsp;<a href="#contact">Contact Us</a>
            </footer>
        </div>

    </body>
</html>