doctype 5
html
  head
    title Device Manager
    link(rel='stylesheet', href='/lib/css/bootstrap.min.css')
    script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(type='text/javascript', src='/lib/js/bootstrap.min.js')
  body
    block content